{% extends "nim.base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            <div class="logo">
                               
                            </div> Registro de Usuario </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center"> REGISTRATE PARA OBTENER ACCESO INMEDIATO</p>
                        {{ form_start(form) }}

                             {{ form_errors(form) }}
                            <div class="form-group ">
                                 {{form_label(form.nombre) }} 
                                <div class="row">
                                    <div class="col-sm-6">
                                       {{form_widget(form.nombre) }} 
                                        {{form_errors(form.nombre) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_widget(form.apellidos) }} 
                                        {{form_errors(form.apellidos) }}
                                    </div>
                                </div>

                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-sm-6">
                                         {{form_label(form.correo) }}
                                         {{form_widget(form.correo) }}
                                         {{form_errors(form.correo) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_label(form.fechaNac) }}
                                        {{form_widget(form.fechaNac) }}
                                        {{form_errors(form.fechaNac) }}
                                    </div>
                                </div>

                                 {{form_row(form.correo) }}
                            </div>
                            <div class="form-group ">
                                 {{form_label(form.contrasena.first) }}
                                <div class="row">
                                    <div class="col-sm-6">
                                         {{form_widget(form.contrasena.first) }}
                                         {{form_errors(form.contrasena.first) }}
                                    </div>
                                    <div class="col-sm-6">

                                        {{form_widget(form.contrasena.second) }}
                                        {{form_errors(form.contrasena.second) }}
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="agree">
                                     {{form_widget(form.checarTerminos) }}
                                     
                                      {{form_errors(form.checarTerminos) }}
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6Ldl9kUUAAAAAG3l996KN3Bqd0hBI9GjdWIv7oMB"></div>
                            </div>
                            
                            {{form_widget(form.registrar) }}

                            <div class="form-group">
                                <p class="text-muted text-center">
                                    ¿Ya estas registrado?<a href="/login">¡Ingresa!</a> 
                            
                                </p>                              
                            </div>

                       {{ form_end(form) }}
                    </div>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i> Regresar  </a>
                </div>
            </div>
        </div>



 {% endblock %}



 {% block javascript %}
{% endblock %}